.item {
  border: solid 1px #eee;
  box-shadow: 0 10px 15px 0 #eee;
  padding: 30px;

  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: flex-start;
    img {
      margin: 0 auto;
      width: 50%;
      display: block;
    }
    .data {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      h2 {
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
      }
      .description {
        margin-top: 15px;
        flex-grow: 1;
      }
    }
  }
  .withDetails {
    display: none;
  }
  .details {
    .withDetails {
      display: block;
    }
  }
  .footer {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
